body {
    background: #0a0a0a;
    color: white;
    font-family: Arial;
    text-align: center;
    padding: 70px;
}

form {
    background: #111;
    padding: 25px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 12px #0ff;
}

input {
    width: 85%;
    padding: 10px;
    background: black;
    border: 2px solid #0ff;
    color: cyan;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background: #0ff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
